* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-bar {
    /* text-shadow: 5px 0 0 rgb(224, 218, 218); */
    color: #fff;
    background-image: url(https://cdn.wallpapersafari.com/45/41/qIf3Lc.jpg);
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.menu-bar h5 {
    margin-left: -130px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    padding: 10px 30px;
    position: relative;
}

.menu-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    transition: all 0.3s;
    cursor: pointer;
}

.menu-bar ul li a:hover {
    color: white;
    background-color: green;
    border-radius: 10px;
    transition: all 0.3s;
    /* padding-inline: 10px; */
    padding: 8px;
}

.dropdown-menu {
    display: none;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: transparent;
}

.dropdown-menu ul {
    display: block;
    margin: 10px;
}

.dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown-menu-1 {
    display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    transition: 0.3s;
}

.dropdown-menu-2 {
    display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-2 {
    display: block;
    position: absolute;
    top: 0;
    right: 150px;
    transition: 0.3s;
}

img {
    margin-top: -20px;
    width: 100px;
    /* margin-right: -405px;
    margin-left: -30px;
     */
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 160px;
    color: green;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 300px;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: green;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: 600;
}

.back-video {
    position: absolute;
    right: 0;
    border-bottom: 0;
    z-index: -1;
}

span {
    color: green;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(./ag.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 200vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 80px;
    height: 350px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./sindh5.png);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 50PX;

}

.img-box:nth-child(2) {
    background-image: url(./sindh4.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4) {
    background-image: url(./mazar-e-quaid.jpg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3) {
    background-image: url(./sindh1.jpg);
    background-size: cover;
    background-position: center;
}

.img-box h3 {
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
}

.img-box:hover {
    width: 300px;
    cursor: pointer;

}

.img-2 {
    width: 80px;
    height: 270px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./op.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 130px;

}

.img-2:nth-child(2) {
    background-image: url(./sindh2.jpg);
    background-size: cover;
    background-position: center;
}

.img-2:hover {
    width: 300px;
    cursor: pointer;

}

.img-3 {
    width: 80px;
    height: 270px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./punjab.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 130px;

}

.img-3:nth-child(2) {
    background-image: url(./punjab1.jpg);
    background-size: cover;
    background-position: center;
}

.img-3:hover {
    width: 300px;
    cursor: pointer;

}







.section2 {
    width: 90%;
    height: 90vh;
    margin-left: 45PX;
    margin-top: 30px;


    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}

.section1 h1 {
    text-align: center;
    margin-top: 20px;
    color: whitesmoke;
    text-shadow: 0 0 4px black;
}

.section1 h1:hover {
    color: deepskyblue;
}




.section3 {
    width: 60vw;
    height: 120vh;
    margin-left: 180px;
    margin-top: 45px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}

.section4 h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

.section3 p {
    text-align: center;
    margin-top: 15px
}

.section4 h1 {
    color: whitesmoke;
    text-shadow: 0 0 4px black;
}

.section4 h1:hover {
    color: deepskyblue;
}




.img-box1 {
    width: 80px;
    height: 350px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./m-pakistan.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 50PX;

}

.img-box1:nth-child(2) {
    background-image: url(./BAD2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box1:nth-child(4) {
    background-image: url(./Lahore_Fort.jpg);
    background-size: cover;
    background-position: center;
}

.img-box1:nth-child(3) {
    background-image: url(./wazir-khan-mosque.jpg);
    background-size: cover;
    background-position: center;
}

.img-box1:hover {
    width: 300px;
    cursor: pointer;

}

.img-box2 {
    width: 80px;
    height: 350px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./kpk3.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 50PX;

}

.img-box2:nth-child(2) {
    background-image: url(./kpk2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box2:nth-child(4) {
    background-image: url(./kpk4.jpg);
    background-size: cover;
    background-position: center;
}

.img-box2:nth-child(3) {
    background-image: url(./kpk0.jpg);
    background-size: cover;
    background-position: center;
}

.img-box2:hover {
    width: 300px;
    cursor: pointer;

}

.img-4 {
    width: 80px;
    height: 270px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./kpk1.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 130px;

}

.img-4:nth-child(2) {
    background-image: url(./kp1.jpg);
    background-size: cover;
    background-position: center;
}

.img-4:hover {
    width: 300px;
    cursor: pointer;

}

.img-box3 {
    width: 80px;
    height: 350px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./blochi1.png);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 50PX;

}

.img-box3:nth-child(2) {
    background-image: url(./sindh9.jpg);
    background-size: cover;
    background-position: center;
}

.img-box3:nth-child(4) {
    background-image: url(./blochi2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box3:nth-child(3) {
    background-image: url(./Quaid-Residency-Ziarat.jpg);
    background-size: cover;
    background-position: center;
}

.img-box3:hover {
    width: 300px;
    cursor: pointer;

}

.img-5 {
    width: 80px;
    height: 270px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./bloch.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 130px;

}

.img-5:nth-child(2) {
    background-image: url(./bloch2.jpg);
    background-size: cover;
    background-position: center;
}

.img-5:hover {
    width: 300px;
    cursor: pointer;

}




.img-box4 {
    width: 80px;
    height: 350px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./mazar-e-quaid.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 50PX;

}

.img-box4:nth-child(2) {
    background-image: url(./m-pakistan.jpg);
    background-size: cover;
    background-position: center;
}

.img-box4:nth-child(4) {
    background-image: url(./kpk4.jpg);
    background-size: cover;
    background-position: center;
}

.img-box4:nth-child(3) {
    background-image: url(./Quaid-Residency-Ziarat.jpg);
    background-size: cover;
    background-position: center;
}

.img-box4:hover {
    width: 300px;
    cursor: pointer;

}

.img-6 {
    width: 80px;
    height: 270px;
    margin: 10px;
    border-radius: 50px;
    background-image: url(./ayeza-khan-14th-august.jpg);
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
    position: relative;
    bottom: 130px;

}

.img-6:nth-child(2) {
    background-image: url(./qg.jpeg);
    background-size: cover;
    background-position: center;
}

.img-6:nth-child(3) {
    background-image: url(./smk171-green.webp);
    background-size: cover;
    background-position: center;
}

.img-6:hover {
    width: 300px;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: deepskyblue;
}

body {
    width: 98vw;
    height: 180vh;
    background-image: url('./ag.jpeg');
    background-repeat: no-repeat;
    background-size: 98vw 100vh;
    background-attachment: fixed;
}

.section2 {
    width: 60vw;
    height: 80vh;
    margin-left: 180px;
    margin-top: 45px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}

.section1 h1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

.section2 p {
    text-align: center;
    margin-top: 15px
}

.section1 h1 a {
    text-decoration: none;
    color: black;
}

.section1 h1 a:hover {
    color: white;
    text-shadow: 2px 2px grey;
}

.packages {
    width: 60vw;
    height: 80vh;
    /* display: flex; */
    margin-left: 180px;
    margin-top: 45px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}

.packages h1 {
    width: 60vw;
    height: 40px;
    text-align: center;
    margin-top: 40px;
}

.packages-pro1 {
    display: flex;
}

.packages1 {
    width: 20vw;
    height: 30vh;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
    margin-left: 55px;
    margin-top: 10px;
    text-align: center;
}

.packages2 {
    width: 20vw;
    height: 30vh;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
    margin-left: 55px;
    margin-top: 10px;
    text-align: center;
}

.packages-pro2 {
    display: flex;
}

.packages3 {
    width: 20vw;
    height: 30vh;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
    margin-left: 55px;
    margin-top: 10px;
    text-align: center;
}

.packages4 {
    width: 20vw;
    height: 30vh;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
    margin-left: 55px;
    margin-top: 10px;
    text-align: center;
}

.packages-pro1 .packages1 h3 {
    margin: 2px 4px;
}

.packages-pro1 .packages2 h3 {
    margin: 8px 8px 19px 4px;
}

.packages-pro2 .packages3 h3 {
    margin: 8px 8px 19px 4px;
}

.packages-pro2 .packages4 h3 {
    margin: 2px 4px;
}

.packages-pro1 .packages1 h3 a {
    text-decoration: none;
    color: black;
}

.packages-pro1 .packages2 h3 a {
    text-decoration: none;
    color: black;
}

.packages-pro2 .packages3 h3 a {
    text-decoration: none;
    color: black;
}

.packages-pro2 .packages4 h3 a {
    text-decoration: none;
    color: black;
}

.packages-pro1 .packages1 h3 a:hover {
    color: white;
    text-shadow: 2px 2px grey;
}

.packages-pro1 .packages2 h3 a:hover {
    color: white;
    text-shadow: 2px 2px grey;
}

.packages-pro2 .packages3 h3 a:hover {
    color: white;
    text-shadow: 2px 2px grey;
}

.packages-pro2 .packages4 h3 a:hover {
    color: white;
    text-shadow: 2px 2px grey;
}

.packages .services h1 a {
    text-decoration: none;
    color: black;
}

.packages .services h1 a:hover {
    color: white;
    text-shadow: 2px 2px grey;
}
.About{
    width: 98vw;
    height: 80vh;
    margin-top: 45px;
    display: flex;
}
.About1{
    width: 30vw;
    height: 60vh;
    margin-left: 20px;
    margin-top: 45px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}
.About2{
    width: 30vw;
    height: 60vh;
    margin-left: 20px;
    margin-top: 45px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}
.About3{
    width: 30vw;
    height: 60vh;
    margin-left: 20px;
    margin-top: 45px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}
.About .About1 h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.About .About2 h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.About .About3 h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
svg{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 120px;
}
.About .About1 p{
    text-align: center;
}
.About .About2 p{
    text-align: center;
}
.About .About3 p{
    text-align: center;
}





footer {
    background: transparent;
    color: black;
}

.row {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 10px;
    height: 15%;


}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 18px;
    margin-top: -55px;

}






.logo {
    margin: 5px;
    letter-spacing: 3px;
    font-family: "potta one", cursive;
    font: 25px;
    text-shadow: 0 0 4px deepskyblue;
    color: black;


}



.column h5 {
    font-size: 18px;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 8px;
    font-family: "potta one", cursive;
}

.column h5::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60%;
    background-color: deepskyblue;
    font-family: "potta one", cursive;
}

.footer-link li {
    margin: 12px 0;
    list-style: none;
}

.footer-link li a {
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.footer-link li a:hover {
    color: deepskyblue;
    text-shadow: 0 0 12px;
}

.contact-details li {
    list-style: none;
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.contact-details li i {

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-right: 12px;
}

.fa-solid {
    height: 35px;
    width: 35px;
    border: 2px solid deepskyblue;
    color: black;
}

.fa-solid:hover {
    color: whitesmoke;
    background-color: deepskyblue;
}

.social-links {
    display: flex;
    list-style: none;

}

.fa-brands {
    margin-right: 15px;
}

.fa-brands {
    height: 35px;
    width: 35px;
    border: 2px solid transparent;
    color: whitesmoke;
    background-color: black;


}

.social-links li i {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.social-links li a {
    text-decoration: none;
}

.social-links li i:hover {
    background: transparent;
    color: deepskyblue;
}

.section3 {
    width: 90vw;
    height: 65vh;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px;
}

.section3 {
    margin-left: 30px;
    margin-top: 45px;
}
